.mainHeader {
	z-index: 9999;
  height: 80px;
  width: 100%;
  background: var(--primary-purple);
  color: white;
  position: sticky;
  top: 0;
}

.headerContent {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.mainLogo {
  width: 200px;
  position: relative;
  height: 100%;
  cursor: pointer;
}

.navItems {
  display: flex;
  align-items: center;
  height: 100%;
}

.navItem {
  font-weight: 700;
  margin: 0 10px;
  font-size: 18px;
  padding: 20px 10px;
  cursor: pointer;
  transition: color 300ms;
}

.navItem:hover {
  color: var(--primary-pink);
}

.language {
  position: absolute;
  right: 0;
}

.isActive {
  color: var(--secondary-pink);
}
