.smallHeader {
	height: 40px;
	background: linear-gradient(-90deg, var(--secondary-pink), var(--primary-pink))
}

.smallHeaderContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.title {
	color: var(--primary-purple);
	font-weight: 500;
}

.socials {
	display: flex;
	height: 100%;
	align-items: center;
}

.socials > div {
	border-left: 2px solid ;
	color: white;
	flex: 1;
	border-color: #1e113414;
	padding: 0 0.7rem;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.socials > div:last-child {
	border-right: 2px solid;
	border-color: #1e113414;
}

